@import './partials/generals';
@import './partials/vars';

@import './header';
@import './footer';

.jumbo {
    height: 400px;
    background-image: url("../img/jumbotron.jpg");
    background-position: center top;
    background-size: cover;
}