$dc-accent_link: #2195f3;
$dc-accent: #0282F9;
$dc-list_content: #00A9DF;
$dc-dark_bg: #111;
$dc-dark_bg_alternative: #222;
$dc-light_bg: #fff;

$dc-title_blu: #003F5E;
$dc-detail_bg: #F6F6F6;
$dc-border: #ccc;